body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    margin-top: 10px;
   
}
nav button {
    background-color: #4267B2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
nav button:last-child {
    margin-right: 0;
}
main {
    padding: 20px;
  
}

.grade{
    display: grid;
    grid-template-columns: max-content auto max-content;
    background-color: #f1f1f1;
}
.esquerda{
    grid-column-start: 1;
    background-color: #4267B2;
}
.centro{
    grid-column-start: 2;
    background-color: #4267B2;
}
.direita{
    grid-column-start: 3;
    background-color: #4267B2;
}

.caixa{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}



.profile {
    margin-top: 20px;
    text-align: center;
    position: absolute;
   color: #4267B2;
}
.profile img {
    border-radius:0%;
 
}
footer {
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
